{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Therapy back in stock plugin for Craft CMS 3.x
 *
 * Therapy back in stock index.twig
 *
 * @author    Ab.Rezaei
 * @copyright Copyright (c) 2022 Ab.Rezaei
 * @link      https://github.com/AbRezaei
 * @package   TherapyBackInStock
 * @since     1.0.0
 */
#}

{% extends "_layouts/cp" %}
{% set crumbs = [
    {
        label: 'Therapy back in stock'|t('therapy-back-in-stock'),
        url: url('therapy-back-in-stock'),
    }
] %}

{% do view.registerAssetBundle("abrezaei\\therapybackinstock\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %}

{# Link for the ? icon at the bottom of the page #}
{% set docsUrl = "https://github.com/AbRezaei/therapy-back-in-stock/blob/master/README.md" %}

{# The title of this CP section #}
{% set title = "Therapy back in stock" %}

{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('therapy-back-in-stock') %}

{# Get a URL to an image in our AssetBundle #}
{% set iconUrl = view.getAssetManager().getPublishedUrl('@abrezaei/therapybackinstock/assetbundles/indexcpsection/dist', true) ~ '/img/Index-icon.svg' %}

{# Get back in stocks items #}
{% set items = craft.therapyBackInStock.backInStocks %}
{% set variantIds = [] %}
{% for item in items %}
    {% set variantIds = variantIds | merge([item.variantId]) %}
{% endfor %}

{% set variants = craft.variants()
    .id(variantIds)
    .fixedOrder()
    .all() %}

{# The content of the CP Section#}
{% set content %}
    <table>
        <thead>
        <tr>
            <th>#</th>
            <th>Id</th>
            <th>Email</th>
            <th>Product</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        {% for item in variants %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ items[loop.index].id }}</td>
                <td>{{ items[loop.index].email }}</td>
                <td><a target="_blank" href="{{ item.url }}">{{ item.product.title }} - {{ item.title }}</a></td>
                <td>{{ items[loop.index].dateCreated }}</td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
{% endset %}
